html, body {
  color: #333;
  font-weight: bold;
}

.app-wrapper {
  display: grid;

  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: rgb(20, 214, 197);
}

.header img {
  width: 80px;
}

.nav {
  grid-area: n;
  background-color: rgb(255, 224, 59);
}

.content {
  grid-area: c;
  background-color: rgb(255, 71, 34);
}
